{% assign trans = site.data.values[site.lan] %}

  <!-- <li><a href="#">One</a></li>
  <li><a href="#">Two</a></li>
  <li><a href="#">Three</a></li>
  <li><a href="#">Four</a></li> -->
  {% for link in site.data.links %}
  {% assign url = link.url | default:'' %}
  {% assign title = link.title | default:'' %}
  {% assign class = link.class | default:'icon-link' %}

  <a href="{{ url }}" title="{{ title }}" class="no-mark-external">
    <span class="{{ class }}" style="font-size: 45px; "></span>
    <span class="sr-only">{{ title }}</span>
  </a>

  {% endfor %}